.wrap{
   grid-area: n;
   background-color: burlywood;
   width: 100%;
   padding: 10px;
 }

 .item{
    color: white;
    text-decoration: none;
 }

 .active{
    color: gold;
    text-decoration: none;
 }