.header {
  grid-area: h;
  background-color: green;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
   /* padding: 0 0 0 10px; */
   width: 40px;
   margin: 0 0 0 20px;
}

.loginBlock{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 20px 0 0;
  
}

.userPhoto {
   max-width: 30px;
   border-radius: 50%;
}

.loginBlock a {
   color: white;
   text-decoration: none;
}